Repository d4l-data4life/hc-test-util-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, dependencies, documentation, util-test-library, util-coroutine-test-library, util-ktor-test-library, sample-android, sample-jvm

.github/labeler.yml:

build:
  - .github/**/*

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - sdk-doc/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Platform
util-test-library:
  - test-util/**/*

util-coroutine-test-library:
  - test-util-coroutine/**/*

util-ktor-test-library:
  - test-util-ktor/**/*

# Sample
sample-android:
  - sample-android/**/*

sample-jvm:
  - sample-jvm/**/*

Prepare Release 0.1.0
  README.adoc
Labels: documentation

Change docs
  CONTRIBUTING.adoc
  DEVELOPING.adoc
  README.adoc
Labels: documentation

Revert doc to mention java 8
  DEVELOPING.adoc
Labels: none

Apply pr comments
  DEVELOPING.adoc
Labels: none

Updates list of example in doc
  CONTRIBUTING.adoc
Labels: none

Add Robolectric Annotation
  CHANGELOG.adoc
  README.adoc
  gradlePlugin/test-util-dependency/src/main/kotlin/care/data4life/sdk/util/test/dependency/Dependency.kt
  test-util-coroutine/build.gradle.kts
  test-util/build.gradle.kts
  test-util/src/androidMain/kotlin/care/data4life/sdk/util/test/annotation/RobolectricTestRunner.kt
  test-util/src/androidTest/kotlin/care/data4life/sdk/util/test/annotation/RobolectricTestRunnerTest.kt
  test-util/src/commonMain/kotlin/care/data4life/sdk/util/test/annotation/RobolectricTestRunner.kt
  test-util/src/commonTest/kotlin/care/data4life/sdk/util/test/annotation/RobolectricTestRunnerTest.kt
  test-util/src/iosMain/kotlin/care/data4life/sdk/util/test/annotation/RobolectricTestRunner.kt
  test-util/src/iosTest/kotlin/care/data4life/sdk/util/test/annotation/RobolectricTestRunnerTest.kt
  test-util/src/jvmMain/kotlin/care/data4life/sdk/util/test/annotation/RobolectricTestRunner.kt
  test-util/src/jvmTest/kotlin/care/data4life/sdk/util/test/annotation/RobolectricTestRunner.kt
Labels: documentation, util-test-library, util-coroutine-test-library

Use Base64 instead of SHA1 as testcase
  test-util/src/androidTest/kotlin/care/data4life/sdk/util/test/annotation/RobolectricTestRunnerTest.kt
  test-util/src/commonTest/kotlin/care/data4life/sdk/util/test/annotation/RobolectricTestRunnerTest.kt
  test-util/src/iosTest/kotlin/care/data4life/sdk/util/test/annotation/RobolectricTestRunnerTest.kt
  test-util/src/jvmTest/kotlin/care/data4life/sdk/util/test/annotation/RobolectricTestRunner.kt
Labels: util-test-library

Bump Robolectric
  CHANGELOG.adoc
  gradle.properties
  gradlePlugin/test-util-dependency/src/main/kotlin/care/data4life/sdk/util/test/dependency/Version.kt
Labels: documentation

Prepare Release of 0.2.0
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
Labels: documentation

Update CODEOWNERS
  .github/CODEOWNERS
Labels: build

Add PlatformOnly annotations
  CHANGELOG.adoc
  test-util/build.gradle.kts
  test-util/src/androidMain/kotlin/care/data4life/sdk/util/test/annotation/PlatformOnly.kt
  test-util/src/androidTest/kotlin/care/data4life/sdk/util/test/annotation/PlatformRunner.kt
  test-util/src/commonMain/kotlin/care/data4life/sdk/util/test/annotation/PlatformOnly.kt
  test-util/src/commonTest/kotlin/care/data4life/sdk/util/test/annotation/PlatformOnlyTest.kt
  test-util/src/iosMain/kotlin/care/data4life/sdk/util/test/annotation/PlatformOnly.kt
  test-util/src/iosTest/kotlin/care/data4life/sdk/util/test/annotation/PlatformRunner.kt
  test-util/src/jvmMain/kotlin/care/data4life/sdk/util/test/annotation/PlatformOnly.kt
  test-util/src/jvmTest/kotlin/care/data4life/sdk/util/test/annotation/PlatformRunner.kt
Labels: documentation, util-test-library
